
.custom-button{
    min-width: 160px;
    width: auto;
    height: 50px;
    padding: 20px 15px;
    background-color: #111;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    &:hover{
        background: #fff;
        color: #111;
        border: 1px solid #111;
    }
    &.google-signin{
        background: rgb(27, 94, 196);
    }
}