.collection-item{
    margin-right: 20px;
    position: relative;
    & .details{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        padding: 0;
    }
    & .custom-button{
        position: absolute;
        opacity: 0.8;
        top: 255px;
        left: 50%;
        transform: translateX(-50%);
    }
}