.cart-item{
    display: flex;
    margin-bottom: 10px;
    img{
      width: 20%;
      height: auto;
      margin-right: 5px;
    }
    .name{
        display: block;
        margin-bottom: 5px;
    }
   
}